h1{
    color: #FF9D39;
    justify-content: center;
    font-family:Serif;
    text-align: center;
}
body, html {
    height: 100%;
    weight: auto;jjjj
    margin: 0;
    padding: 0;
}
.box{
    width : 100%;
    height: 30px;
    color : #3A5BB3;
    background-color: #B4B5F1;
    padding: 10px;
    border: 30px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    box-sizing: content-box;
}
.box1{
    width:fit-content;
    height:fit-content;
    color: #3A5BB3;/*mau nay la danh cho chu*/
    background-color: #ee9e70;
    text-align: center;
    margin: 20px;
}
#imgTT{
    display: flex;
    justify-content: center;
    height: 500px;

}
#background{
    background-image: url(https://media.istockphoto.com/id/1189999060/vi/vec-to/h%C3%ACnh-minh-h%E1%BB%8Da-c%E1%BB%95-phi%E1%BA%BFu-animal-paw-seamless-pattern.jpg?s=612x612&w=0&k=20&c=LtUPQi2MVH_GNL61VvubYvXEi4esLvSAtTPukCMnwok=);
    background-repeat: repeat-x;
    background-size: contain;
    background-clip: content-box;
}   
  